@page "/"

<PageTitle>Home</PageTitle>

<div class="hero-section bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Welcome to my Scrapbook</h1>
        <p class="lead">add or view your vacations in this simple program.</p>
    </div>
</div>

<div class="vacation-gallery">
    <div class="container">
        <div class="row">
            <!-- Beach Image -->
            <div class="col-md-4">
                <img src="images/perfect-beach.jpg" class="img-fluid" alt="Beach Vacation" />
            </div>

            <!-- City Image -->
            <div class="col-md-4">
                <img src="images/perfect-city.jpg" class="img-fluid" alt="City Vacation" />
            </div>

            <!-- Adventure Image -->
            <div class="col-md-4">
                <img src="images/perfect-adventure.jpg" class="img-fluid" alt="Adventure Vacation" />
            </div>
        </div>
    </div>
</div>

<div class="bottom-description text-center">
    <p>
        This is a hobby project i created to expand my portfolio, and better my coding skills.
    </p>
    <p>  
        Made by August Munkhaus.
    </p>  
</div>
